<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/bcraig83/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="bcraig83" />
            <add key="ClearTextPassword" value="9a2f4acfc681a0d7a0ea31118e726d7052a84fee" />
        </github>
    </packageSourceCredentials>
</configuration>